*
!/app
!/app/**
/app/etc/local.xml

!/downloader
!/downloader/**
/downloader/.cache
/downloader/pearlib
/downloader/*.cfg

!/errors
!/errors/**
/errors/local.xml

!/includes
!/includes/.htaccess
!/includes/config.php

!/js
!/js/**

!/lib
!/lib/**

!/shell
!/shell/**

!/skin
!/skin/**

!/var
!/var/.htaccess

!/media
!/media/.htaccess

!/install.php
!/cron.php
!/cron.sh
!/favicon.ico
!/mage
!/.gitignore
!/.htaccess.sample
!/get.php
!/index.php
!/api.php
!/LICENSE.html
!/composer.json

# PROJECT SPECIFIC STUFF

# FINAL SECTION

wp-config.php
**/wp-content/uploads
**/wp-content/cache

*.rar
*.7z
*.tar
*.old
*.bak
*.zip
*.bz2
*.gz
*.tgz
*.pdf
*.log
*.sql